/* ContentBox.css */

.content-box {
    width: calc(25% - 10px);
    padding: 20px;
    background-color: #c5d0ff;
    border-radius: 8px;
    margin: 20px;
  }
  .content-box h2 {
    margin-bottom: 10px;
  }
  .content-box p {
    font-size: 14px;
    color: rgb(34, 6, 48);
  }
  .submit-button {
    width: 100%;
    padding: 10px;
    background-color: #6F8CE9;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #2148C0;
  }
  
  