

.anasayfa-container {
    width: 1458px;
    height: 900px;
    margin: 0 auto;
    /* padding: 20px; */
    background-color: #2148C0 ;
  }
  
  .content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  .bottom-button {
    text-align: center;
    padding-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  