/* AramaSayfasi.css */

.arama-container {
    width: 1458px;
    height: 900px;
    margin: 0 auto;
    /* padding: 20px; */
    background-color: #2148C0 ;
  }
  .s-container {
    width: 600px;
    display: flex;
    justify-content: center; /* Sayfayı yatayda ortalar */
    align-items: center;
    align-items: flex-start;
    margin-bottom: 20px;
    height: 400px;
  }
  .arama-form {
    margin-bottom: 20px;
  }
  
  .arama-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  