/* TopMenu.css */

.top-menu {
    display: flex;
    justify-content: flex-end;
    align-items: right;
    width: 100%; 
    
    background-color: #b5caed;
  }
  
  .menu-item {
    padding: 3px 5px;
    margin: 10px ; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #1256cd;
    text-decoration: underline;
  }
  
  .menu-item:hover {
    background-color: rgb(144, 170, 216);
  }
  