/* TopMenu.css */

.top-menu {
    display: flex;
    justify-content: flex-end;
    align-items: right;
    width: 100%; /* TopMenu'nun genişliğinin %80'ini kullanıyoruz */
    padding: 10px 20px;
    background-color: #b5caed;
  }
  
  .menu-item {
    padding: 8px 5px;
    margin: 10px ; /* Her menu-item'i en sağa hizalar */
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .menu-item:hover {
    background-color: #dcdcdc;
  }
  